
  @media only screen and (max-width:1260px){ 
    .map .close{
      margin-left: 55%;
      margin-bottom: 30%;
    }
    main .left{
      height: 100vh;
    }
    main .left .left-link .link{
      width: 68vw;
    }
    main .left .left-link .product-catal .news-text{
      width: 400px;
    }
    main .left .left-link .about .about-text{
      margin-left: 2%;
    }
    main .news_full {
      margin-left: 2%;
    }
    .footer{
      margin-top: -50px;
    }
  }
  
  @media only screen and (max-width:992px){
    main .left{
      width: 100vw;
    }
    main .left .left-link .link{
      width: 90vw;
    }
    main .left{
      height: auto;
    }
    .product{
      width: 90vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    main .left .left-link .product-catal p:nth-child(1){
      width: 300px;
   }
    main .left .left-link .product-catal .news-text{
      margin-left: 50px;
    }
    main .right{
      display: none;
    }

    .footer{
      flex-wrap: wrap;
      margin-top: 0px;
    }

    .show{
      display: block !important;
      position: fixed;
      right: -78px;
      top: 250px;
      transform: rotate(90deg);
    }
    .showBtn{
      
      background-color: #EF7D3F;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 20px;
      font-size: 20px;
      
    }
  }




  @media only screen and (max-width:768px){ /*-------ГОТОВО-------*/
    .map .close{
      margin-left: 600px;
      margin-bottom: 300px;
    }

  }



  /* МОБИЛКА*/
  @media only screen and (max-width:570px){  
    main .left .left-link .link{
      border: none;
    }
    main .left .left-link .link ul{
      display: none;
    }
    main .left .left-link .link ul a{
      font-size: 30px;
      color: white;
    }
    main .left .left-link .link ul.active{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
      padding: 2%;
      padding-top: 30%;
      line-height: 45px;
      top: -80px;
      bottom: 0;
      left: 0;
      margin-top: 80px;
      width: 100%;
      height: 100vh;
      -webkit-animation-duration: 0.55s;
              animation-duration: 0.55s; /* Время работы анимации */
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; /* Поведение анимации */
      -webkit-animation-name: fadeInDown;
              animation-name: fadeInDown; /* Имя анимации */
    }
    @-webkit-keyframes fadeInDown { /* Сама анимация */
      0% { /* Старт анимации */
        opacity: 0;
        transform: translate3d(-100%, 0px, 0px);
      }
      100% { /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
        transform: none;
      }
    }
    
    @keyframes fadeInDown { /* Сама анимация */
      0% { /* Старт анимации */
        opacity: 0;
        transform: translate3d(-100%, 0px, 0px);
      }
      100% { /* в финале анимации - финал это заданная 0.55s */
        opacity: 1;
        transform: none;
      }
    }

    
    .menuBtn.active span:nth-of-type(1) {
      display: none;
    }
    
    .menuBtn.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);
      background-color: white;
    }
    
    .menuBtn.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg);
      background-color: white;
    }
    
    .menuBtn {
      z-index: 100;
      cursor: pointer;
      width: 100px;
      height: 30px;
      left: 0;
      position: fixed;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .menuBtn span {
      width: 34px;
      height: 3px;
      position: absolute;
      transform: translate(-50%, -50%);
      background-color: black;
      transition: all 0.5s;
      border-radius: 2px;
    }
    
    .menuBtn span:nth-of-type(2) {
      top: calc(35% - 5px);
    }
    
    .menuBtn span:nth-of-type(3) {
      top: calc(60% + 5px);
    }
    header a{
      margin-right: 0%;
    }
    .header-text{
      display: none;
    }

    .product{
      width: 95vw;
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
    }
    main .left .left-link .product-catal .news-text p{
      width: 300px;
      z-index: 100;
    }
    .showBtn{
      padding: 10px;
    }
    main .left .left-link .product-catal .news-text{
      margin-left: 0px;
    }
    main .left .left-link .product-catal p:nth-child(1){
      display: none;
   }

   main .left .left-link .about{
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    justify-content: flex-start;
   }
   
   main .left .left-link .about .about-img{
    margin-left: 2%;
   }

    .map .close{
      margin-left: 350px;
      margin-bottom: 300px;
    }
    .footer .link{
      align-items: center;
    }
    .footer .politica{
      margin-right: 0%;
      margin-top: 2%;
      margin-bottom: 5%;
    }
  }
  @media only screen and (max-width:400px){
    
  }
  @media only screen and (max-width:320px){
   
  }
  