
  @media only screen and (max-width:1260px){ 
    .map .close{
      margin-left: 55%;
      margin-bottom: 30%;
    }
    main .left{
      height: 100vh;
    }
    main .left .left-link .link{
      width: 68vw;
    }
    main .left .left-link .product-catal .news-text{
      width: 400px;
    }
    main .left .left-link .about .about-text{
      margin-left: 2%;
    }
    main .news_full {
      margin-left: 2%;
    }
    .footer{
      margin-top: -50px;
    }
  }
  
  @media only screen and (max-width:992px){
    main .left{
      width: 100vw;
    }
    main .left .left-link .link{
      width: 90vw;
    }
    main .left{
      height: auto;
    }
    .product{
      width: 90vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    main .left .left-link .product-catal p:nth-child(1){
      width: 300px;
   }
    main .left .left-link .product-catal .news-text{
      margin-left: 50px;
    }
    main .right{
      display: none;
    }

    .footer{
      flex-wrap: wrap;
      margin-top: 0px;
    }

    .show{
      display: block !important;
      position: fixed;
      right: -78px;
      top: 250px;
      transform: rotate(90deg);
    }
    .showBtn{
      
      background-color: #EF7D3F;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 20px;
      font-size: 20px;
      
    }
  }




  @media only screen and (max-width:768px){ /*-------ГОТОВО-------*/
    .map .close{
      margin-left: 600px;
      margin-bottom: 300px;
    }

  }



  /* МОБИЛКА*/
  @media only screen and (max-width:570px){  
   
  }
  @media only screen and (max-width:400px){
    
  }
  @media only screen and (max-width:320px){
   
  }
  