* {
    margin:0;
    padding:0;
    font-family:Arial, Verdana, sans-serif;
}
body{
        display: flex;
        flex-direction: column;
        height: 100%;
}
$orange: #EF7D3F;
$blue: #203E7C;
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    a{
        margin-right: 14%;
        padding: 5px;
    }
    .header-text{
       margin-right: -5%;
        h2{
            color: #EF7D3F;
        }
        p{
            color: #203E7C;
            font-weight: 600;
            font-size: 20px;
        }
    }
}
@keyframes show {
    0%{
        opacity: 0;
        transform: translate3d(100%, 0px, 0px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    background-color: rgb(128,128,128, 0.5);
    .right{
        padding-bottom: 5%;
        background-color: white;
        width: 100vw;
        box-shadow: 2px 2px 5px black;
        animation: show .3s ease-in;
        .right-header{
            background-color: #EF7D3F;
            padding: 20px;
            cursor: pointer;
            h2{
                color: white;
                font-size: 30px;
                text-align: center;
            }
        }
        .right-link{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:space-around;
            .link{
                padding: 2%;
                border-bottom: 2px solid $blue;
                width: 75vw;
                ul{
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    a{
                        text-decoration: none;
                        color: $blue;
                        margin-right: 20px;
                        font-size: 17px;
                        &.active{
                            color: #EF7D3F;
                            border-bottom: 3px solid $orange;
                        }
                        &:hover{
                            color: #EF7D3F;
                            border-bottom: 3px solid $orange;
                        }
                    }
                }
            }
        }
        .text{
            width: 60vw;
            margin: 5%;
            h4{
                font-size: 15px;
                margin-top: 5%;
            }
            p{
                margin-top: 2%;
                font-size: 14px;
            }
            a{
                font-size: 14px;
                color: $blue;
                &:hover{
                    color: #EF7D3F;
                }
            }
        }
    }
    
    .left{
        .left-header{
            background-color: #EF7D3F;
            padding: 23px;
            box-shadow:inset 2px 2px 5px black;
            cursor: pointer;
            h2{
                font-size: 23px;
                color: white;
                text-align: center;
                width: 234px;
            }
        }
        .left-link{
            margin-top: 5%;
            height: 100vh;
            li{
                list-style-type: none;
                text-align: right;
                margin-right: 5%;
                a{
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 500;
                    color: #203E7C;
                    line-height: 25px;
                    &:hover{
                        color: $orange;
                    }
                }
            }
        }
    }
}

@keyframes mapAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.map{
    position: fixed;
    background-color: rgb(255, 255, 255, 0.8);
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    animation: mapAnim 0.5s ease-in;
    &.active{
        display: flex;
    }
    .close{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        height: 20px;
        cursor: pointer;
        position: absolute;
        margin-left: 45%;
        margin-bottom: 23%;
        span{
            width: 30px;
            background-color: #00296b;
            height: 4px;
            position: absolute;
            transform: rotate(45deg);
            &:nth-of-type(2){
                transform: rotate(-45deg);
            }
        }
    }
}
.footer{
    width: 100%;
    flex: 0 0 auto;
    background-color: #203E7C;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .link{
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        line-height: 30px;
        p{
            color: white;
        }
        a{
            color: #EF7D3F;
            font-size: 15px;
            &:hover{
                color: white;
            }
            &:nth-of-type(2){
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: white;
                img{
                    margin-right: 10px;
                }
            }
        }
    }
    .politica{
        margin-top: 5%;
        margin-right: 7%;
        a{
            text-decoration: none;
            color: white;
            font-size: 13px;
            &:hover{
                color: #EF7D3F;
            }
        }
    }
    .address{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button{
            background-color: $orange;
            font-size: 17px;
            color: white;
            border: none;
            padding: 10px;
            width: 130px;
            border-radius: 10px;
            text-align: center;
            margin-bottom: 4%;
            cursor: pointer;
            transition: .5s;
            &:hover{
                background-color: white;
                color: #EF7D3F;
            }
        }
        p{
            color: white;
        }
    }
}