* {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header a {
  margin-right: 14%;
  padding: 5px;
}
header .header-text {
  margin-right: -5%;
}
header .header-text h2 {
  color: #EF7D3F;
}
header .header-text p {
  color: #203E7C;
  font-weight: 600;
  font-size: 20px;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
}
main .right {
  padding-bottom: 5%;
  background-color: white;
  width: 100vw;
  box-shadow: 2px 2px 5px black;
  -webkit-animation: show 0.3s ease-in;
          animation: show 0.3s ease-in;
}
main .right .right-header {
  background-color: #EF7D3F;
  padding: 20px;
  cursor: pointer;
}
main .right .right-header h2 {
  color: white;
  font-size: 30px;
  text-align: center;
}
main .right .right-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .right .right-link .link {
  padding: 2%;
  border-bottom: 2px solid #203E7C;
  width: 75vw;
}
main .right .right-link .link ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .right .right-link .link ul a {
  text-decoration: none;
  color: #203E7C;
  margin-right: 20px;
  font-size: 17px;
}
main .right .right-link .link ul a.active {
  color: #EF7D3F;
  border-bottom: 3px solid #EF7D3F;
}
main .right .right-link .link ul a:hover {
  color: #EF7D3F;
  border-bottom: 3px solid #EF7D3F;
}
main .right .about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
main .right .about .about-text {
  margin-left: 10%;
}
main .right .about .about-text h2 {
  color: #EF7D3F;
  margin-top: 7%;
}
main .right .about .about-text p {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 14px;
}
main .right .about .about-text ul {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: 14px;
}
main .right .about .about-text a {
  color: #203E7C;
}
main .right .about .about-text a:hover {
  color: #EF7D3F;
}
main .right .about-img {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
main .right .about-img h2 {
  font-size: 20px;
  margin-top: 4%;
}
main .right .about-img p {
  color: rgba(128, 128, 128, 0.9);
  margin-top: 4%;
  font-size: 12px;
}
main .right .about-img h3 {
  font-size: 13px;
  color: #203E7C;
  text-decoration: underline;
  margin-top: 5%;
  cursor: pointer;
}
main .right .about-img h3:hover {
  color: #EF7D3F;
}
main .right .about-img .btn-text {
  display: none;
}
main .right .about-img .btn-text.active {
  display: block;
}
main .right .about-img .btn-text p {
  width: 90%;
  margin-top: 4%;
  font-size: 12px;
  color: black;
}
main .left .left-header {
  background-color: #EF7D3F;
  padding: 23px;
  box-shadow: inset 2px 2px 5px black;
  cursor: pointer;
}
main .left .left-header h2 {
  font-size: 23px;
  color: white;
  text-align: center;
  width: 234px;
}
main .left .left-link {
  margin-top: 5%;
  height: 100vh;
}
main .left .left-link li {
  list-style-type: none;
  text-align: right;
  margin-right: 5%;
}
main .left .left-link li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #203E7C;
  line-height: 25px;
}
main .left .left-link li a:hover {
  color: #EF7D3F;
}

@-webkit-keyframes mapAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mapAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.map {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  -webkit-animation: mapAnim 0.5s ease-in;
          animation: mapAnim 0.5s ease-in;
}
.map.active {
  display: flex;
}
.map .close {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 20px;
  cursor: pointer;
  position: absolute;
  margin-left: 45%;
  margin-bottom: 23%;
}
.map .close span {
  width: 30px;
  background-color: #00296b;
  height: 4px;
  position: absolute;
  transform: rotate(45deg);
}
.map .close span:nth-of-type(2) {
  transform: rotate(-45deg);
}

.footer {
  width: 100%;
  flex: 0 0 auto;
  background-color: #203E7C;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.footer .link {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 30px;
}
.footer .link p {
  color: white;
}
.footer .link a {
  color: #EF7D3F;
  font-size: 15px;
}
.footer .link a:hover {
  color: white;
}
.footer .link a:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.footer .link a:nth-of-type(2) img {
  margin-right: 10px;
}
.footer .politica {
  margin-top: 5%;
  margin-right: 7%;
}
.footer .politica a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.footer .politica a:hover {
  color: #EF7D3F;
}
.footer .address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .address button {
  background-color: #EF7D3F;
  font-size: 17px;
  color: white;
  border: none;
  padding: 10px;
  width: 130px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 4%;
  cursor: pointer;
  transition: 0.5s;
}
.footer .address button:hover {
  background-color: white;
  color: #EF7D3F;
}
.footer .address p {
  color: white;
}/*# sourceMappingURL=specialize.css.map */